seve/poc-seve/src/main/resources/I_101001_MSG01_1512180000001.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cccc:tech:xsd:ics.doc.001" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="urn:DocumentType" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001">
    <xs:annotation>
      <xs:documentation>Sample XML file generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FinInstnIdType">
    <xs:sequence>
      <xs:element type="urn:ClrSysMmbIdType" name="ClrSysMmbId" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ICSBatchType">
    <xs:sequence>
      <xs:element type="urn:DocHdrType" name="DocHdr" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
      <xs:element type="urn:DocBodyType" name="DocBody" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClrSysMmbIdType">
    <xs:sequence>
      <xs:element type="urn:ClrSysIdType" name="ClrSysId" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
      <xs:element type="xs:string" name="MmbId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClrSysIdType">
    <xs:sequence>
      <xs:element type="xs:string" name="Prtry"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element type="urn:ICSBatchType" name="ICSBatch" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChrgdType">
    <xs:sequence>
      <xs:element type="urn:FinInstnIdType" name="FinInstnId" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocBodyType">
    <xs:sequence>
      <xs:element ref="urn:MSG01PmtSubm" xmlns:urn="urn:cccc:tech:xsd:ics.msg01.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubmtrType">
    <xs:sequence>
      <xs:element type="urn:FinInstnIdType" name="FinInstnId" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocHdrType">
    <xs:sequence>
      <xs:element type="xs:string" name="MsgId"/>
      <xs:element type="xs:string" name="CreDtTm"/>
      <xs:element type="xs:string" name="NbOfTxs"/>
      <xs:element type="urn:SubmtrType" name="Submtr" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
      <xs:element type="urn:ChrgdType" name="Chrgd" xmlns:urn="urn:cccc:tech:xsd:ics.doc.001"/>
      <xs:element type="xs:string" name="Tst"/>
      <xs:element type="xs:string" name="DocTyp"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>